body{
    background-repeat: no-repeat;
    background-size: cover;
}

#logo{
    background-color: dimgrey;
    background-size: auto;
    text-align: center;
    padding-bottom: 0.2em;
}

#loginform{
    padding-top: 1em;
    text-align: center;
}

#tagline{
    text-align: center;
    font-family: fantasy;
    font-size: 2em;
}

.button{
    background-color: #e6ac00;
    border: none;
    color: black;
    border-radius: 0.25em;
    width: 10em;
    font-family: fantasy;
    padding: 0.2em 0.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    margin: 1em;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button:hover{
    background-color: black;
    color: #e6ac00;
}

